:root{
    --main-color:#0094ff;
    --bg-color: rgba(0,0,0,.5);
}
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: url(IMG-20231030-WA0040.jpg);
    background-size: cover;
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 420px;
    background: rgba(0,0,0,.5);
    border-radius: 15px;
    box-sizing: border-box;
}
h2{
    color:#fff;
    text-align: center;
    margin-top: 50px;

}
input[type="text"],[type="email"],[type="password"]{
    position: absolute;
    outline: none;
    border: none;
    width: 250px;
    height: 35px;
    border-bottom: 2px solid#0094ff;
    background: none;
    padding: 5px;
    color:white;
    
}
input[type="text"]{
    top: 140px;
    left: 50px;

}
[type="email"]{
    top: 210px;
    left: 50px;
}
[type="password"]{
    top: 286px;
    left: 50px;
}
input[type=submit]{
    position: absolute;
    top: 400px;
    left: 110px;
    width: 130px;
    height: 35px;
    background: #0077ff;
    border: none;
    outline: none;
    color:#fff;
    border-radius: 15px;
    font-size: 20px;


}
input[type=submit]:hover{
    background: #fff;
    color: #0077ff;

}
p{
    position: absolute;
    top: 360px;
    left: 50px;
    color: #fff;
    cursor: pointer;
    
}
p:hover{
    color: #72c9ff;



}
::placeholder{
    color:#fff;
}